/* $Id$
*/
/**
 * Css styles for paint.
 */ 

/**
 * Used to show loading while getting images.
 */
.loading {
  background: url('images/loading.gif') no-repeat center center;
}

.invisible {
  visibility: hidden;
}

.paint-status {
  background-color: yellow;
  border: 1px solid black;
}

.paintweb_tools {
  width: 418px !important;
}

/**
 * Used to do an overflow effect on thumbnails.
 *
 * Thanks to http://cssglobe.com/lab/overflow_thumbs/.
 */
#flickr-container { 
  padding: 0px;
  padding-bottom: 10px;
}

#flickr-container ol,
#flickr-container li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#flickr-container li {
  float: left;
  margin: 0px 5px 5px 0px;
}

#flickr-container a {
  display: block;
  float: left;
  width: 85px;
  height: 85px;
  line-height: 85px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

#flickr-container a img {
  float: left;
  position: absolute;
  margin: auto;
  min-height: 85px;
}

/* Mouse over. */
#flickr-container a:hover {
  overflow:visible;
  z-index:1000;
  border:none;
}

#flickr-container a:hover img {
  border: 1px  solid #999;
  background: #fff;
  padding: 3px;
  margin-top: -20px;
  margin-left: -20px;
  min-height: 105px;
}
